<div class="panel panel-default">
	<div class="panel-heading">{{lunch.name}}</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="dish in lunch.food">
				<span class="badge pull-right">{{dish.price}}</span>
				{{dish.name}}
			</li>

			<li class="list-group-item list-group-item-info">
				<span class="badge pull-right">{{getTotalPrice(lunch)}}</span>
				Итого
			</li>
		</ul>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-primary" ng-click="onSelect()">Выбрать</button>
	</div>
</div>